@use '../../styles/common';
@use "../../styles/shared/chart-container";

.Container {
  @include chart-container.chart-container;
  position: relative;
  user-select: none;
  max-width: 100%;
}

.Chart {
  height: 100%;
  width: 100%;
  overflow: visible;
  max-width: 100%;
}
