@use '../../styles/common';
@use "../../styles/shared/accessibility";

.ChartContainer {
  position: relative;
  user-select: none;
  max-width: 100%;
}

.Svg {
  overflow: visible;
  max-width: 100%;
}

.BarGroup {
  @include accessibility.no-outline;
}
