@use '../../styles/common';
@use "../../styles/shared/axes";

.Text {
  text-align: center;
  line-height: 1;
  word-break: break-word;
  font-feature-settings: 'tnum';
}

.DiagonalText {
  @include axes.ellipsis-overflow;
  line-height: 1;
}
