@use '../../styles/common';
@use "../../styles/shared/accessibility";
@use "../../styles/shared/variables";

.PositiveIcon,
.NegativeIcon,
.NeutralIcon {
  display: flex;
  align-items: center;
  margin-left: variables.$spacing-tight;
}

.PositiveIcon svg {
  margin-right: variables.$spacing-extra-tight;
}

.NegativeIcon svg {
  margin-right: variables.$spacing-extra-tight;
}

.VisuallyHidden {
  @include accessibility.visually-hidden;
}
