@use '../../styles/common';
@use "../../styles/shared/accessibility";
@use "../../styles/shared/chart-container";

.Wrapper {
  position: relative;
  overflow: visible;
  @include chart-container.chart-container;
}

.VisuallyHidden {
  @include accessibility.visually-hidden;
}

.ComparisonLine {
  fill: none;
  stroke-linecap: round;
}
