@use '../../styles/common';
@use "../../styles/shared/tooltips";
@use "../../styles/shared/variables";

.Container {
  @include tooltips.tooltip-text;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: variables.$spacing-tight;
  row-gap: variables.$spacing-tight;
  background: variables.$color-white;
  padding: variables.$spacing-loose;
}

.Title {
  text-align: center;
  grid-column: 1 / span 3;
  margin-bottom: variables.$spacing-extra-tight;
}

.Label {
  margin: 0;
}

.Value {
  @include tooltips.tooltip-emphasis;
  font-feature-settings: 'tnum';
  margin: 0;
  padding-left: variables.$spacing-extra-tight;
  text-align: right;
}
