@use '../../../../styles/common';
@use "../../../../styles/shared/tooltips";
@use "../../../../styles/shared/variables";

.Name {
  margin: 0;
}

.Value {
  @include tooltips.tooltip-emphasis;
  font-feature-settings: 'tnum';
  margin: 0;
  padding-left: variables.$spacing-extra-tight;
  text-align: right;
}

.Container {
  @include tooltips.tooltip-text;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: variables.$spacing-tight;
  row-gap: variables.$spacing-tight;
  background: variables.$color-white;
  padding: variables.$spacing-loose;
}
