@use '../../../../styles/common';
@use "../../../../styles/shared/tooltips";
@use "../../../../styles/shared/variables";

.Container {
  @include tooltips.tooltip-text;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: variables.$spacing-tight;
  background: variables.$color-white;
  padding: variables.$spacing-loose;
}
