@use '../../../../styles/common';
@use "../../../../styles/shared/variables";

.Container {
  display: flex;
  align-items: baseline;
}

.ContainerDefaultLabel {
  margin-bottom: variables.$spacing-extra-loose;
}

.ContaineBottomLabel {
  margin-top: variables.$spacing-loose;
}

.LabelColor {
  margin: 1px;
  border-radius: 3px;
  height: 10px;
  width: 10px;
}

.Label {
  flex: 1;
  margin: 0 variables.$spacing-tight;
  word-break: break-word;
}

.Value {
  margin-top: variables.$spacing-extra-tight;
  display: flex;
}
